<h1>Basic API Call using Rails (with HTTParty gem)</h1>

<br>

<h3>This example consume a fake online REST API from <a href="https://jsonplaceholder.typicode.com/">jsonplaceholder.typicode.com</a> and retrieve a list of users<h3>

<br>

<%= link_to "Try it", users_path %>